.mdui-appbar a {
	color: white !important;
	font-family: yahei;
}

#share-center {
	position: relative;
	top : -120px;
	text-align: center;
    color: white;
}

#share-center a {
    transform: scale(1.2, 1.2);
}

#banner-img {
	width: 100%;
	height: auto;
	position: relative;
	top: -64px;
	z-index: -1;
}

#address-aside {
	width: 100%;
	height: 600px;
	overflow: hidden;
}

#address-image {
	height: 100%;
	width: auto;
	float: left;
}

#address-aside-right {
	height: 100%;
	width: 35%;
	float: left;
}
#about-aside {
	height: auto;
	width: 70%;
	max-width: 900px;
	margin: 0 auto;
}

#about-aside h1 {
	font-size: 300% !important;
	font-weight: 300 !important;
}

#about-aside b {
	font-size: 180%;
	font-weight: 400 !important;
}

#about-aside p {
	font-size: 130%;
	color: rgba(100,100,100); !important;
	line-height: 1.5;
	font-weight: 350 !important;
	text-indent: 3%;
}
